<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dealers</key>
	<array>
		<dict>
			<key>name</key>
			<string>dealer1</string>
			<key>address</key>
			<string>WOb1</string>
			<key>lat</key>
			<string>52.424205</string>
			<key>long</key>
			<string>10.726863</string>
			<key>email</key>
			<string>test1@vw-servicepartner.com</string>
			<key>phonenumber</key>
			<string></string>
		</dict>
        <dict>
            <key>name</key>
            <string>dealer2</string>
            <key>address</key>
            <string>WOb2</string>
            <key>lat</key>
            <string>52.423486</string>
            <key>long</key>
            <string>10.732561</string>
            <key>email</key>
            <string>test2@vw-servicepartner.com</string>
            <key>phonenumber</key>
            <string></string>
        </dict>
        <dict>
            <key>name</key>
            <string>dealer3</string>
            <key>address</key>
            <string>WOb3</string>
            <key>lat</key>
            <string>52.422302</string>
            <key>long</key>
            <string>10.731789</string>
            <key>email</key>
            <string>test3@vw-servicepartner.com</string>
            <key>phonenumber</key>
            <string></string>
        </dict>
        <dict>
            <key>name</key>
            <string>dealer4</string>
            <key>address</key>
            <string>WOb4</string>
            <key>lat</key>
            <string>52.422057</string>
            <key>long</key>
            <string>10.731172</string>
            <key>email</key>
            <string>test4@vw-servicepartner.com</string>
            <key>phonenumber</key>
            <string></string>
        </dict>
        <dict>
            <key>name</key>
            <string>dealer5</string>
            <key>address</key>
            <string>WOb5</string>
            <key>lat</key>
            <string>52.419410</string>
            <key>long</key>
            <string>10.723822</string>
            <key>email</key>
            <string>test1@vw-servicepartner.com</string>
            <key>phonenumber</key>
            <string></string>
        </dict>
        <dict>
            <key>name</key>
            <string>dealer6</string>
            <key>address</key>
            <string>WOb6</string>
            <key>lat</key>
            <string>52.419765</string>
            <key>long</key>
            <string>10.724531</string>
            <key>email</key>
            <string>test6@vw-servicepartner.com</string>
            <key>phonenumber</key>
            <string></string>
        </dict>
        <dict>
            <key>name</key>
            <string>dealer7</string>
            <key>address</key>
            <string>WOb7</string>
            <key>lat</key>
            <string>52.420015</string>
            <key>long</key>
            <string>10.720717</string>
            <key>email</key>
            <string>test7@vw-servicepartner.com</string>
            <key>phonenumber</key>
            <string></string>
        </dict>
        <dict>
            <key>name</key>
            <string>dealer8</string>
            <key>address</key>
            <string>WOb8</string>
            <key>lat</key>
            <string>52.418992</string>
            <key>long</key>
            <string></string>
            <key>email</key>
            <string>test8@vw-servicepartner.com</string>
            <key>phonenumber</key>
            <string>10.722644</string>
        </dict>
	</array>
</dict>
</plist>
